<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Beverages</key>
	<string>beverages.xml</string>
	<key>Breads</key>
	<string>breads.xml</string>
	<key>Conceptual, Historical, Literary etc</key>
	<string>conceptual.xml</string>
	<key>Desserts</key>
	<string>desserts.xml</string>
	<key>Fish</key>
	<string>fish.xml</string>
	<key>Game</key>
	<string>game.xml</string>
	<key>Meat</key>
	<string>meat.xml</string>
	<key>Pasta</key>
	<string>pasta.xml</string>
	<key>Prison Food</key>
	<string>prisonfood.xml</string>
	<key>Salads</key>
	<string>salads.xml</string>
	<key>Soups &amp; Starters</key>
	<string>soupsandstarters.xml</string>
	<key>Vegetarian &amp; Vegan</key>
	<string>vegetarianandvegan.xml</string>
</dict>
</plist>
